:root 
{   
    --duo_text_color: #f1f7fb;
    --duo_background_color: #131f24;
    --duo_secondary: #37464f;
    
    --duo_right: #93d333;
    --duo_right_secondary: #79b933;
    
    --duo_wrong: #ee5555;
    --duo_wrong_secondary: #d84848;
    
    --duo_selected: #3f85a7;
    --duo_highlight_background_color: #202f36;
    
    --duo_setting: #ffc700;
    --duo_setting_secondary: #e7a601;
}

/* Resizable container */
#mobile-container
{
    margin-left: auto;
    margin-right: auto;
    /*resize: both;*/
    overflow: hidden;
    width: 450px;
    height: 600px;
}

/* Rounded unselectable fill screen */
#mobile-screen
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--duo_background_color);
    border-radius: 10px;
    padding: 20px;
    
    user-select: none;
    -webkit-user-drag: none;
}

/* Makes everything unselectable and standard */
#mobile-screen > *
{
    color: var(--duo_textcolor);
    font-family: Nunito;
    
    user-select: none;
    -webkit-user-drag: none;
}

/* Standard Divider */
hr
{
    border-top: 3px solid var(--duo_secondary);
}

/* The header phrase at the top of the screen */
#phrase
{
    padding: 15px;
    padding-bottom: 8px;
    border: 3px solid var(--duo_secondary);
    border-radius: 15px;
    
}

#phrase > *
{
    text-decoration: underline dotted var(--duo_secondary);
    cursor: pointer;
}

.word
{
    display: inline-block;
    width: auto;
    padding: 8px;
    padding-top: 6px;
    height: 40px;
    border: 3px solid var(--duo_secondary);
    border-bottom: 4px solid var(--duo_secondary);
    border-radius: 10px;
    margin: 3px;
    cursor: pointer;
}

.word p
{
    text-align: center;
    font-size: min(1rem, 3.8vw);
}

.word-blank
{
    background-color: var(--duo_secondary);
    color: var(--duo_secondary);
}

.word-wrong
{
    font-weight: bold;
    color: var(--duo_wrong_secondary);
    background-color: var(--duo_highlight_background_color);
    border: 3px solid var(--duo_wrong_secondary);
    border-bottom: 4px solid var(--duo_wrong_secondary);
}

.word-correct
{
    font-weight: bold;
    color: var(--duo_right_secondary);
    background-color: var(--duo_highlight_background_color);
    border: 3px solid var(--duo_right_secondary);
    border-bottom: 4px solid var(--duo_right_secondary);
}

.word-selected
{
    font-weight: bold;
    color: var(--duo_selected);
    background-color: var(--duo_highlight_background_color);
    border: 3px solid var(--duo_selected);
    border-bottom: 4px solid var(--duo_selected);
}

#bottom-container
{
    height: 50px;
    margin-top: auto;
}

.button-fill
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--duo_right);
    border-top: 0px;
    border-left: 2px solid var(--duo_right_secondary);
    border-right: 2px solid var(--duo_right_secondary);
    border-bottom: 4px solid var(--duo_right_secondary);
    border-radius: 15px;
}

.button-fill > *
{
    color: var(--duo_backgroundcolor);
    margin: 0;
    padding: 0;
}

.button-fill-wrong
{
    background-color: var(--duo_wrong);
    border-left: 2px solid var(--duo_wrong_secondary);
    border-right: 2px solid var(--duo_wrong_secondary);
    border-bottom: 4px solid var(--duo_wrong_secondary);
}

@media only screen and (max-width: 700px) 
{
    #mobile-container
    {
        width: 100%;
    }
}