.square
{
    display:inline-block;
    width: 150px;
    padding: 10px;
    margin: 10px;
    height: 125px;
    vertical-align: top;
}

a
{
    color: var(--link_color);
    text-decoration: none;
}