<div class="square">
    <a href="@URL"><h1>@Title</h1></a>
    <p>@Description</p>
</div>

@code 
{ 
    [Parameter]
    public string Title { get; set; } = "Null";
    [Parameter]
    public string Description { get; set; } = "Missing.";
    [Parameter]
    public string URL { get; set; } = "";

}