/* /Components/Games/Cards/Cards.razor.rz.scp.css */
.select[b-2w7wmgvppt]
{
    width: 24.25%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #93D334;
    border-top: 0px;
    border-left: 2px solid #77B828;
    border-right: 2px solid #77B828;
    border-bottom: 4px solid #77B828;
    border-radius: 15px;
}

.select > *[b-2w7wmgvppt]
{
    color: #131F24;
    margin: 0;
    padding: 0;
}

#buttons[b-2w7wmgvppt]
{
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 700px) 
{
    #buttons[b-2w7wmgvppt]
    {
        width: 100%;
    }
}
/* /Components/Games/Cards/Parts/Loading.razor.rz.scp.css */
/* Centers spinner */
#spinner-container[b-kdmcryevgl]
{
    top:50%;
    transform: translateY(-50%);
    position: relative;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* Circle spinner */
.spinner[b-kdmcryevgl] 
{
    border: 10px solid #37464F;
    border-top: 10px solid #70D700;
    border-radius: 40px;
    width: 70px;
    height: 70px;
    animation: spin-b-kdmcryevgl 2s linear infinite;
}
 
/* Spinner animation */
@keyframes spin-b-kdmcryevgl 
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* /Components/Games/Duo/Duo.razor.rz.scp.css */
.select[b-d0e4tu9ej8]
{
    width: 24.25%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--duo_right);
    border-top: 0px;
    border-left: 2px solid var(--duo_right_secondary);
    border-right: 2px solid var(--duo_right_secondary);
    border-bottom: 4px solid var(--duo_right_secondary);
    border-radius: 15px;
}

.select > *[b-d0e4tu9ej8]
{
    color: var(--duo_background_color);
    margin: 0;
    padding: 0;
}

#buttons[b-d0e4tu9ej8]
{
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 700px) 
{
    #buttons[b-d0e4tu9ej8]
    {
        width: 100%;
    }
}
/* /Components/Games/Duo/Duo_Match.razor.rz.scp.css */
#choices-container[b-jda62kkenw]
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

#choices[b-jda62kkenw]
{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.left[b-jda62kkenw]
{
    padding-right: 10px;
}

.right[b-jda62kkenw]
{
    padding-left: 10px;
}

.word[b-jda62kkenw]
{
    height: 60px;
    padding-top: 16px;
    margin-bottom: 15px;
}
/* /Components/Games/Duo/Duo_Number.razor.rz.scp.css */
#choices[b-b53tm770ci]
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
/* /Components/Games/Duo/Duo_Sentence.razor.rz.scp.css */
#top-words[b-mdcwjztkb2]
{
    display: flex;
    flex-wrap: wrap;
}

#bottom-words[b-mdcwjztkb2]
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
/* /Components/Games/Duo/Parts/Spinner.razor.rz.scp.css */
/* Centers spinner */
#spinner-container[b-m4divcdhv8]
{
    top:50%;
    transform: translateY(-50%);
    position: relative;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* Circle spinner */
.spinner[b-m4divcdhv8] 
{
    border: 10px solid var(--duo_secondary);
    border-top: 10px solid var(--duo_right);
    border-radius: 40px;
    width: 70px;
    height: 70px;
    animation: spin-b-m4divcdhv8 2s linear infinite;
}
 
/* Spinner animation */
@keyframes spin-b-m4divcdhv8 
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* /Components/Main/Parts/ProjectLink.razor.rz.scp.css */
.square[b-m5novhf61z]
{
    display:inline-block;
    width: 150px;
    padding: 10px;
    margin: 10px;
    height: 125px;
    vertical-align: top;
}

a[b-m5novhf61z]
{
    color: var(--link_color);
    text-decoration: none;
}
/* /Components/Main/View.razor.rz.scp.css */
.page[b-9ctxqimim3]
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}
    
.content[b-9ctxqimim3] 
{
    background-color: var(--content_background);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    min-height: 1000px;
}

.nav[b-9ctxqimim3]
{
    padding-left: 10px;
    background-color: var(--nav_background);
    height: 50px;
    display: flex;
    align-items: center;
}

.nav a[b-9ctxqimim3]
{
    color: var(--link_color);
    text-decoration: none;
    padding-right: 20px;
}

.settings[b-9ctxqimim3]
{
    margin-left: auto;
    margin-right: 0;
}

@media only screen and (max-width: 700px) 
{
    .page[b-9ctxqimim3] 
    {
        padding-left: 0px;
        padding-right: 0px;
    }
}
/* /Components/Pages/SettingsPage.razor.rz.scp.css */
.option[b-o2crp7749s]
{
    color: var(--link_color);
    text-decoration: none;
    cursor: pointer;
}
