@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="nav">
            <a href="/"><b>Home</b></a>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>