@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="nav">
            <a href=""><b>Home</b></a>
            <a href="games/"><b>Games</b></a>
            <a href="tools/"><b>Tools</b></a>
            <a href="examples/"><b>Examples</b></a>
            <a class="settings" href="settings/"><b>Settings</b></a>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>