.page
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}
    
.content 
{
    background-color: var(--content_background);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    min-height: 1000px;
}

.nav
{
    padding-left: 10px;
    background-color: var(--nav_background);
    height: 50px;
    display: flex;
    align-items: center;
}

.nav a
{
    color: var(--link_color);
    text-decoration: none;
    padding-right: 20px;
}

.settings
{
    margin-left: auto;
    margin-right: 0;
}

@media only screen and (max-width: 700px) 
{
    .page 
    {
        padding-left: 0px;
        padding-right: 0px;
    }
}