@page "/settings"
@using Web.Components.Main.Parts
@inject SettingService Settings

<PageTitle>Settings</PageTitle>

<p>Sentence Files: @Settings.Sentences</p>
<p>Vocab Files: @Settings.Vocab</p>

@code
{
    
}